<div class="container">
  <div align="center">
    <h1>Welcome to Pauline's Chitter App ðŸ’Œ</h1>
    <br/>
    <h3>â¬‡ï¸Ž Type a new 'peep' here â¬‡ï¸Ž</h3>
    <%= form_tag("/peeps", method: "post") do %>
    <%= text_area_tag(:content, "", placeholder: "Please type your peep here  âœðŸ¼", size: "60x10") %><br/>
    <br/>
    <%= submit_tag("Submit") %>
    <% end %><br/>
    <br/>
    <h2>â¬‡ï¸Ž Here are your previously submitted peeps â¬‡ï¸Ž</h2>
    <% @peeps.reverse.each do |peep| %>
    <div>
      <p><b>Created:</b> <%= peep.created_at.strftime("%d-%m-%Y %H:%M:%S") %> | <b>Posted by:</b> <%= peep.user.user_name %><br/>
        <a href="/peeps/<%= peep.id %>"> <%= peep.content[0, 25] %> </a> <br/>
        <%= button_to "Delete Peep", { action: "destroy", id: peep.id },
        method: :delete, data: { confirm: "Are you sure you want to delete this peep?" } %>
        <br/>
      </div>
      <% end %>
    </div>

  </div>
